* {
	margin: 0;
	padding: 0;
}
body {
	font-family: lato;
}
.homepage {
	width: 100%;
	position: absolute;
	z-index: 1000;
}
.homepage ul {
	height: 50px;
	float: right;
	margin-right: 50px;
}
.homepage ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	font-weight: 900;
}
.homepage h2 {
	text-align: center;
	color: #fff;
	font-size: 65px;
	margin-top: 20%;
	text-transform: uppercase;
	font-weight: 900;
}
.boxes {
	background: linear-gradient(to top, #2c3e50 0%, #7fcef2 100%);
	width: 100%;
	height: 100vh;
}
.single-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.single-box li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.single-box li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.single-box li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.single-box li:nth-child(3) {
	left: 29%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.single-box li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.single-box li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.single-box li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.single-box li:nth-child(7) {
	left: 75%;
	width: 200px;
	height: 200px;
	animation-delay: 4.5s;
	bottom: -250px;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
